body {
  font-family: 'Niramit', 'Myriad Pro', sans-serif;
}

nav {
  z-index: 100;
  position: sticky !important;
  top: 0;
}

.nav-link {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.nav-link-img {
  visibility: hidden;
}

.nav-link:hover .nav-link-img {
  visibility: visible;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  text-align: right;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ff000f;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-light .navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
}

.carousel {
  width: 100%;
}

.carousel-logo {
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 11%;
  right: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

/* This new class stops the white space between the divs and is part of the solution to stopping the divs from hiding
behind the carousel, which occured because of position: absolute. This will be applied to the the body to offset
everything in the page and the nav will be adjust accordingly. */
.reposition {
  position: relative;
  top: -88px;
  margin-bottom: -60px;
}

.services-section {
  background-color: #ff9735;
  padding-top: 2%;
  padding-bottom: 60px;
  /* TODO: apply slant to top of section. Potential solution below. Credit to https://kilianvalkhof.com/2017/design/sloped-edges-with-consistent-angle-in-css/ */
  /* clip-path: polygon( */
    /* 100% 100%, /* left top */
    /* 0 100%, /* right top */
    /* 0 0, /* right bottom */
    /* 100% calc(100% - 6vw) /* left bottom */
  /* ); */
}

.info-and-events-item {
  margin-bottom: 80px;
}

.garces-intro {
  padding-left: 10%;
}

hr {
  border: none;
  display: block;
  background-color: #ff000f;
  overflow: hidden;
  height: 5px;
  width: 50px;
  margin-left: 0px;
  text-align: left;
}

h1 {
  color: white;
  font-weight: 900;
}

p {
  color: white;
  font-size: large;
}

.garces-photo-and-signature {
  padding-left: 5%;
  padding-top: 2%;
}

.signature {
  padding-left: 18%;
  padding-top: 2%;
}

.info-and-events-section {
  padding-top: 10%;
}

h2 {
  color: #ff000f;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.expand-animation {
  cursor: pointer;
  transition: transform .5s; /* Animation time*/
}

.expand-animation:hover {
  transform: scale(1.03);
}

.descriptions {
  max-width: 319px;
}

.learn-more-button {
  border: none;
  background-color: #ff000f;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 60px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.learn-more-button:hover {
  background-color: #ec000e;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.arrow {
	position: relative;
	background: #ff9735;
}
.arrow:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-top-color: #ff9735;
	border-width: 20px;
	margin-left: -20px;
  margin-top: 59px;
}

.media-section {
  background-color: #ff000f;
  padding: 80px;
}

.media-section-description {
  color: white;
  font-weight: 900;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-weight: 900;
  font-size: 40px;
}

footer {
  margin-top: 30px;
}

.content-in-columns {
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  width: 86px;
  padding-top: 2px;
}

.footer-section-header {
  color: #ff000f;
  font-weight: 900;
}

.subscribe-button {
  background-color: black;
  color: white;
  width: 100px;
  border: none;
  margin-top: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subscribe-button:hover {
  background-color: #ec000e;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.map-link {
  color: black;
  font-size: 16px;
  margin: 0px;
}

.footer-anchor {
  color: black;
}

.footer-anchor:hover {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 545px) {
  .garces-photo {
    width: 80%;
  }

  .signature {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .garces-photo-and-signature {
    padding-left: 10%;
  }
}

@media screen and (max-width: 640px) {
  .placeholder-image {
    max-width: 100%;
  }

  .bg-light {
    background-color: rgba(0, 0, 0, 1) !important;
  }

  .reposition {
    position: relative;
    top: 0;
  }

  footer {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 435px) {
  .media-section-image {
    max-width: 100%;
  }

  .footer-logo {
    width: 150px;
  }
}

@media screen and (max-width: 992px) {
  .placeholder-image {
    margin-top: 15%;
  }
}
