body {
  font-family: 'Niramit', 'Myriad Pro', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  text-align: right;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ff000f;
  /* TODO: apply image when hovering over a nav-item */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-light .navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
